#coming-soon  {
  display: flex;
  justify-content: center;
}

#coming-soon .container {
  height: 574px;
  padding: 0 16px;
}
.coming-soon-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coming-soon-text-content {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.coming-soon-content img {
  max-width: 100%;
  height: auto;
}

.coming-soon-content h2 {
  max-width: 522px;
  text-align: center;
  font-size: var(--font-h3);

  padding-top: 40px;

  color: var(--color-grey-regular);
}

.coming-soon-content p {
  text-align: center;
  font-size: var(--font-h4);

  margin-top: 16px;
  max-width: 784px;
  color: var(--color-grey-regular);
}

.coming-soon-content a {
  text-align: center;

  color: var(--brand-color-secondary);
  text-decoration: underline;
  font-size: var(--font-link);

  cursor: pointer;

  margin-top: 24px;
}

@media screen and (min-width: 488px) {
  
  .coming-soon-content {
    padding: 64px 0;
  }
}


@media screen and (min-width: 1280px) {
  #coming-soon .container {
    height: 100%;
  }
}
