:root {
  --font-h1: 40px;
  --font-h2: 28px;
  --font-h3: 22px;
  --font-h4: 16px;
  --font-h5: 14px;
  --font-link: 16px;
  --font-body-x-small: 12px;

  --color-backgrond: #faf9f7;

  --brand-color-primary: #00a870;
  --brand-color-secondary: #5e20a4;
  --brand-color-secondary-dark: #390d6b;

  --color-grey-dark: #000000;
  --color-grey-regular: #3d3d3d;
  --color-grey-light: #dfdfdf;
  --color-white: #fff;
}

body {
  background: var(--color-backgrond);
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body::-webkit-scrollbar-track {
  background: var(--color-white);
}

body::-webkit-scrollbar-thumb {
  border: 3.5px solid var(--color-white);
  border-radius: 20px;
  background-color: var(--brand-color-secondary);
}

body::-webkit-scrollbar {
  width: 12px;
}

.container {
  width: 100%;
  max-width: 1524px;
  margin: 0 16px;
  height: 100vh;
  min-width: 320px;
}

@media screen and (min-width: 488px) {
  .container {
    margin: 0 48px;
  }
}

@media screen and (min-width: 688px) {
  .container {
    margin: 0 128px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 228px;
  }
}
